* {box-sizing: border-box;}
html,body{margin:0;}

header {
	position: fixed;
	text-align: center;
	top: 0;
	width: 25%;
	height: 100%;
	float: left;
	background-color: #FFAAAA;
	font-family: 'Dosis', sans-serif;
	font-size: 36px;
}

header a {
	display: block;
	width: 100%;
	float: left;
	color: #000;
	text-decoration: none;
	padding: 20px 0 20px 0;
	-webkit-transition: background 500ms ease-in-out;
-moz-transition: background 500ms ease-in-out;
-ms-transition: background 500ms ease-in-out;
-o-transition: background 500ms ease-in-out;
transition: background 500ms ease-in-out;
}

header a:hover {
	background-color: #ff5b5b;
}

#logo {
	margin: auto;
	display: block;
	padding: 40px 0 0 0;
	transition: transform 500ms;
}

#logo:hover {
	background-color: #FFAAAA;
	transform: scale(1.1);
}

.main-wrap {
	padding: 0 0 0 25%;
	width: 100%;
	float: left;
	display: block;
}

.body {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	text-align: center;
}

p a {
	text-decoration: none;
	color: black;
}

p a:hover {
	color: #009B90;
	font-weight: bold;
}
.welcome{
	width: 100%;
	float: left;
	display: block;
	padding: 60px;
	font-size: 20px;
}

.welcome h1 {
	color: #EA6057;
}

.block-pic{
/*	float: left;*/
	width: 350px;
	height: 350px;
	margin:0 30px;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display:inline;
	display:inline-block;
	*zoom:1;

	position: relative;
	background-image: url("../Images/flavors.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border: 10px solid #FFAAAA;
	margin-bottom: 30px;
}

.block-pic.two{
	background-image: url("../Images/gelatto team.jpg");
}
.middle {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	background-color: rgba(249,249,249,.75);
	font-color: #FFAAAA;
	font-weight: bold;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 10px;
	padding-top: 14px;
	margin: 0 auto;
	-moz-border-radius: 50%;
	border-radius: 50%;
	line-height: 75px;
}

.middle:hover {
	width: 115px;
	height: 115px;
	font-size: 20px;
	padding-top: 20px;
}

.middle a {
	text-decoration: none;
	color: #EA6057;
}

.middle a:hover {
	color: #009B90;
}

.more-text {
	padding: 30px;
}

.footer {
	background: #A7D79A;
	padding: 30px;
	font-size: 20px;
	display: block;
	width: 100%;
	height: 200px;
}

#bottomleft {
	float: left;
	display: block;
	width: 30%;
	text-align: left;
}
#bottomright {
	float: right;
	display: block;
	text-align: right;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: turquoise;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    
    padding: 20px;
}

.carousel-height {
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*Contact Page */

label 

	{ float: left; margin-right: 1em; }



