* {box-sizing: border-box;}
html,body{margin:0;}

header {
	position: fixed;
	text-align: center;
	top: 0;
	width: 35%;
	height: 100%;
	float: left;
	padding: 36px 0 0 0;
	background-color: #FFAAAA;
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
}

header a {
	display: block;
	width: 100%;
	float: left;
	color: #000;
	text-decoration: none;
	line-height: 44px;
}

#logo {
	margin: auto;
	display: block;
}

.main-wrap {
	padding: 0 0 0 35%;
	width: 100%;
	float: left;
	display: block;
}

.body {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	text-align: center;
}

p a {
	text-decoration: none;
	color: black;
}

p a:hover {
	color: green;
	font-weight: bold;
}

.block-pic {
	float: left;
	width: 50%;
	display: block;
}
